:root{
    --forest-green:#01401C;
    --caparol:#025920 ;
    --HT: #8C6F4A;
}
@font-face {
    font-family: "poppins";
    src: url('font/Poppins-Regular.ttf');
}
@font-face {
    font-family: "poppins-bold";
    src: url("font/Poppins-SemiBold.ttf");
}


/* ################### */
 /* #######     ####### */
 /* ###### reset ###### */
 /* #######     ####### */
 /* ################### */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: "poppins";
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

















/* ################# */
/* ##### other ##### */
/* ################# */
.title-acc{
    text-shadow: 3px 1px 2px #025920;
    font-size: 2rem;
    width: 38%;
    text-align: center;
}
.title-acc2{  
    font-size: 1.5rem;
}
.search-city{
    height: 42px;
    width: 42rem;
    width: 85%;
    border-top-left-radius: 15px;
    background-color: var(--HT);
    
}
.search-btn{
    width: 15%;
    border-bottom-right-radius: 15px;
    background: var(--forest-green);
    font-size: 1.2rem;
}

.search{
    border: none;
    color: white;
    opacity: calc(0.9);
}
.search:hover{
    opacity: calc(1);
    box-shadow: 0px 2px 16px 5px var(--HT);
    transition: 600ms;
}
.card{
    font-family: "poppins-bold";
    width: 75%;
    height: 461px;
    display: flex;
    border: 2px solid var(--forest-green);
    box-shadow: -2px 0px 22px 3px var(--forest-green);
    position: relative;
}
#article-card{
    display: flex;
    padding-left: 24rem;
    gap: 87px;
    flex-direction: column;
    color: #000000;
}
.leftcard{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#carte{
    width: 68%;
    margin: auto;
}
/* ### gestion placeholder ### */

.search-city::placeholder {
    color: white;
    font-size: 1.5em;
    
  }

.container{
    padding-left: 21rem;
    display: flex;
    gap: 76px;
    justify-content: center;
    flex-direction: column;
    padding-top: 9rem;
    line-height: 40px;
}
.container1{
    width:47%;
    
    
}
#form{
    display: flex;
    width: 100%;
    
}
.svg{
    width: 42px;
    
}
.svg-user{
    width: 30px;
}

#nav-barre{
    margin-top: 3%;
}
body, a{
    color: white;
    font-family: "poppins";
    text-decoration: none;

}
#aside-deco{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}
#aside-deco a{
    color: grey;
}


li{
    list-style: none;
}


/* _______________________ */


/* ######################### */
/* ###### code nav bar ##### */
/* ######################### */
.svg{
    height: 40px;
    width: 40px;
}
#ul-svg{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-bottom: 1rem;
}

.li-svg{
    
}


/* _______________________ */
/* ######################### */
/* #### code 2nd nav bar ### */
/* ######################### */
#logo-site{
    top: -50px;
    position: absolute;
    z-index: 1;
    top: -244px;
    right: -25px;
    
}

#nav-barre-logo{ 
    height: 5rem;
    background: var(--caparol);
}
#nav-menu{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-card{
    height: 100%;
    border-radius: 71%;
    object-fit: cover;
    width: 100%;
    transition: all ease 500ms;
}
#block-bg-img{
    margin: 15px;
    width: 25%;
    height: 81%;
    border-radius: 50px;
    border: 1px solid;
    border: 1px solid var(--caparol);
    transition: all ease 500ms;
    
    
}
#block-bg-img:hover{
    border-color: white;
    
}

.img-card:hover{
    border: 10px var(--caparol);
    box-shadow: -6px -7px 50px 2px var(--caparol);
    
    
    
}
#test{
    display: flex;
    gap: 15px;
    height: 26%;
    align-items: center;
}
#test2{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
#test3{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
/* _______________________ */
/* ######################## */
/* ###### code aside ###### */
/* ######################## */
.Fav-replay{
    height: 2rem;
}
#replay-like{
    position: absolute;
    right: 0;
}
#left-nav{
    background-color: var(--forest-green) ;
    /* margin-top: -16px; */
    width: 15vw;
    height: 865px;
    position: fixed;
}
#note-svg{
    height: 60%;
}
#hr{
    width: 75%;
    height: 3%;
    background-color: var(--forest-green);
}
#filtre{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#ul-filtre{
    display: flex;
    gap: 123px;
    padding-bottom: 5rem;
    padding-top: 1rem;
}
.fil{
    margin-top: -1rem;
    border-radius: 0 25px 25px 0 !important;
    height: 3rem !important;
    padding-top: 2rem !important;
}
#right-card{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-evenly;
}
#accueil-ordo{
    padding-left: 25%;
    padding-top: 8%;
    display: flex;
    gap: 80px;
    height: 100%;
}
#ordo{
    width: 31%;
    height: 34rem;
    border: 2px solid var(--caparol);
    color: black;
    text-align: center;
    background-color: #c9c8c8;
}
#text-ordo{
    width: 54%;
    height: 100%;
    color: #000000;
}
#svg-ordo{
    height: 70%;
    padding-top: 3rem;
}
.file{
    padding: 1rem;
}
.top{
    border: 1px solid;
    height: 2rem;
    text-align: center;
    width: 10rem;
    padding-top: 1rem;
    border-radius: 39px;
}
#calendrier{
    color: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
}
#block-note{
    padding-top: 10%;
}
#calen-placement{
    height: 54%;
}

#border-cal{
    height: 98%;
    width: 90%;
    border: 1px solid;
    border-radius: 0px 0px 25px 25px;
}
#text{
    text-align: center;
    width: 90%;
}

#left-nav-page{
    display: flex;
    flex-direction: column;
    gap: 38px;
    height: 60%;
    justify-content: center;
    margin: 1rem;
}

.card a{
    color: #000000;
}


/* _______________________ */
/* ######################### */
/* ####### Main page ####### */
/* ######################### */
#content{
    margin:0;
}
#img-bg{
    background-image: url(img/young-woman-pharmacist-at-pharmacy.jpg);
    box-shadow: inset #000000 0px 15px 90px 9px;
    height: 756px;
    background-size: cover;
    background-position-y: -115px;
    background-repeat: no-repeat;
 }

 /* page error */
#accueil-error{
    color: black;
    text-align: center;
    padding-left: 15%;
    padding-top: 10%;
}
#h2-error{
    font-size: 10rem;
    padding-bottom: 1%;
    color: var(--caparol);
}
.text-error {
    font-size: 1.5rem;
}
#btn-acc{
    border-radius: 25px;
    height: 3rem;
    width: 8rem;
    background-color: var(--caparol);
    color: white;
    border: 1px solid;
    margin-top: 1rem;
    font-family: "poppins";
    transition: all ease 500ms;
}
#btn-acc:hover{
    background-color: var(--forest-green);
    margin-top: 0rem;
    padding-top: 0rem ;
    height: 5rem;
    width: 9rem;
    font-size: 1rem;
}